<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a href="#Home">
      <img src="../../../assets/images/headicon.png">
    </a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <ul class="nav navbar-nav collapse navbar-collapse">
    <li class="nav-item">
      <a class="nav-link" href="#Hotels">
        <b>Home</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#property">
        <b>Rooms</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#groups">
        <b>Gallery</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#groups">
        <b>Dining</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#groups">
        <b>About</b>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#groups">
        <b>Contact</b>
      </a>
    </li>
    <li>
      <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search">
      </form>
    </li>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
    </ul>
  </ul>
</nav>
<!-- <nav id="mobile-menu" class="mm-menu mm-theme-dark mm-effect-listitems-slide mm-offcanvas mm-current mm-opened">
  <div class="mm-panels">
    <em class="mm-counter">6</em>
    <div class="mm-panel mm-hasnavbar mm-opened mm-current" id="mm-1">
      <div class="mm-navbar">
        <a class="mm-title">Menu</a>
      </div>
      <ul class="mm-listview">
        <li id="menu-item-739" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home page_item page-item-6 current_page_item mm-selected">
          <a>HOME</a>
        </li>
        <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
          <em class="mm-counter">1</em>
          <a class="mm-next" href="#mm-2" data-target="#mm-2"></a>
          <a >ROOMS</a>
        </li>
        <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a>GALLERY</a>
        </li>
        <li id="menu-item-740" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a >DINING</a>
        </li>
        <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a>ABOUT</a>
        </li>
        <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a>CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="mm-panel mm-hasnavbar mm-hidden" id="mm-2">
      <div class="mm-navbar">
        <a class="mm-btn mm-prev" href="#mm-1" data-target="#mm-1"></a>
        <a class="mm-title" href="#mm-1">ROOMS</a>
      </div>
      <ul class="sub-menu mm-listview">
        <li id="menu-item-780" class="menu-item menu-item-type-post_type menu-item-object-page">
          <a>ROOM DETAILS</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<div class="jumbotron"class="container-fluid" >
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../../assets/images/Reception.jpg" alt="Reception">
      </div>

      <div class="item">
        <img src="../../../assets/images/bedroom.jpg" alt="bedroom">
      </div>

      <!-- <div class="item">
        <img src=".jpg" alt="New York">
      </div> -->
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


</div>